rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId}/works/{workId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /users/{userId}/deletedWorks/{workId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /users/{userId}/workspaces/{wsId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /users/{userId}/accounts/{accountId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /users/{userId}/transactions/{txnId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /users/{userId}/categories/{catId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /users/{userId}/budgets/{budgetId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /users/{userId}/bills/{billId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /leaderboard/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    match /friendRequests/{reqId} {
      allow create: if request.auth != null;
      allow read, delete: if request.auth != null &&
        (resource.data.from == request.auth.uid ||
         resource.data.to == request.auth.uid);
    }

    match /friends/{userId}/list/{friendId} {
      allow read, write: if request.auth != null &&
        (request.auth.uid == userId || request.auth.uid == friendId);
    }

    match /privateChats/{chatId} {
      allow create: if request.auth != null &&
        request.auth.uid in request.resource.data.participants;

      allow read, write: if request.auth != null &&
        request.auth.uid in resource.data.participants;
    }

    match /privateChats/{chatId}/messages/{msgId} {
      allow read, write: if request.auth != null &&
        request.auth.uid in get(/databases/$(database)/documents/privateChats/$(chatId)).data.participants;
    }
  }
}
